#showTip{
    position: fixed; top: 40%; left: 50%;transform: translateX(-50%); padding: 0 2rem; background: rgba(0,0,0,.5); color: #fff; border-radius: 3px; line-height:3.5rem;z-index: 9999;
}
#showWait{
    position: fixed; top: 40%; left: 50%;transform: translateX(-50%); padding: 0 2rem; background: rgba(0,0,0,.5); color: #fff; border-radius: 3px; line-height:3.5rem;z-index: 9999;
}
.unvisible{
    visibility: hidden;
}
/*
－－－－－－－－－－－－－－－－
*/
.wrap{min-width: 1050px;}
hr{
    display: block; clear: both;
}
.star-from,.no-reault{
    height: 0;
    opacity: 0;
    transition: all linear .3s;
    overflow: hidden;
}
.star-from .form-group{
    width: 50%;
    float: left;
    min-height: 50px;
}
.no-reault.show,.star-from.show{
    height: auto;
    opacity: 1;
}
.form-group .control-label{
    text-align: right;
}
.form-control.form-money{
    width: 36%;
}
.form-section *{
    display: inline-block;
}
.form-section span{
    margin-right: 12px;
}
.form-section .label-warning{
    margin-right: 1%;
}
.form-section textarea{
    width: 86%; height: 70px;
}
.star-edit{
    margin-right: 10px;
}
.table-hover span:hover{
    cursor: pointer;
}
input[type=radio]{
    display: inline-block; height:14px; line-height: 14px; width: auto;
}
input.red{border: 1px solid red}